#contenedor-principal {
    max-width: 100%;
    width: 85%; /* Por defecto para pantallas pequeñas */
    display: flex;
    
    justify-content: center; /* Centrar horizontalmente */
    flex-direction: column;
    background-color: #f0f0f0; /* Color gris claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 auto; /* Centrar horizontalmente */
}

#contenedor-principal p {
    text-align: left;
    margin-bottom: 15px;
    color: #1976D2;
}

strong {
    color: #24a5ba;
}

@media only screen and (min-width: 700px) {
    #contenedor-principal {
        width: 75%; /* Para pantallas grandes */
    }

    
}
